<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">

    <title>Albums</title>
</head>
<body>
<h1>Add New Album</h1>

<div id="ll">

    <form action="/albums" method="post">
        <br>
        <br>
        <label>Title</label>
        <input type="text" name="title" />
        <br>
        <br>

        <label>Artist</label>
        <input type="text" name="artist" />
        <br>
        <br>

        <label>Songs Count</label>
        <input type="text" name="songCount" />
        <br>
        <br>

        <label>Length</label>
        <input type="text" name="length" />
        <br>
        <br>

        <label>Image URL</label>
        <input type="text" name="imageUrl" />
        <br>
        <br>

        <button>Add Album</button>

        <br>
        <br>
    </form>

</div>


</body>
</html>