<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Songs</title>
</head>
<body>
<div>
    <form action="/albums" method="post">

        <br>
        <br>
        <label>Title</label>
        <input type="text" name="title" />
        <br>
        <br>


        <label>Length</label>
        <input type="text" name="length" />
        <br>
        <br>
        <label>trackNumber</label>
        <input type="text" name="trackNumber" />
        <br>
        <br>
        <input type="submit" value="Add Song!">

    </form>
</div>

</body>
</html>