<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">

    <title>Title</title>
</head>
<body>
<h1>Welcome to the albums list!</h1>
<div id="one">
<div class="two" th:each="album : ${albums}">
    <p>Album Title: <span th:text=${album.title}></span> </p>
    <p>Album Artist: <span th:text=${album.artist}></span></p>
    <p>Songs Count: <span th:text=${album.songCount}></span></p>
    <p>Album Length: <span th:text=${album.length}></span></p>
    <img th:src=${album.imageUrl}>
</div>
</div>

</body>
</html>